@import "../../css/units.css";

.outlined-button {
    cursor: pointer;
    border-radius: 1rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: .75rem;
    padding-right: .75rem;
    user-select: none;
    transition: all 0.3s ease;
}

.outlined-button:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.356),
              0 0 20px rgba(255, 255, 255, 0.08);
}

.icon {
    height: 1.5rem;
}

[dir="ltr"] .icon {
    margin-right: .5rem;
}

[dir="rtl"] .icon {
    margin-left: .5rem;
}

.content {
    white-space: nowrap;
}
