@import "../../css/units.css";

.outlined-button {
    cursor: pointer;
    border-radius: 1rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0.75rem;
    user-select: none;
    height: 34px;
    background-color: white;
    color: #4634eb;
    margin-right: 0.5rem;
}

.icon {
    height: 1.5rem;
    width: 1.5rem;
    flex-shrink: 0;
}

[dir="ltr"] .icon {
    margin-right: .5rem;
}

[dir="rtl"] .icon {
    margin-left: .5rem;
}

.icon {
    margin-right: .5rem;
}

.content {
    white-space: nowrap;
    line-height: 34px;
}

.userProfilePic {
    border-radius: 50%;
    object-fit: cover;
}