@import "../../css/colors.css";
@import "../../css/units.css";
@import "../../css/z-index.css";

.context-menu {
    min-width: 130px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 0.85rem;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.9); /* Made semi-transparent */
    border: 1px solid $ui-black-transparent;
    border-radius: calc($space / 2);
    box-shadow: 0px 0px 5px 1px $ui-black-transparent-default;
    pointer-events: none;
    transition: opacity 0.2s ease;
    z-index: $z-index-context-menu;
    
    /* Add blur effect */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Safari support */
}

[theme="dark"] .context-menu {
    background-color: rgba(var(--ui-primary-rgb), 0.9); 
}

.menu-item {
    padding: 8px 12px;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.1s ease;
}

.menu-item:hover {
    background: $motion-primary;
    color: white;
}

.menu-item-bordered {
    border-top: 1px solid $ui-black-transparent;
}

[theme="dark"] .menu-item-bordered {
    border-color: $ui-tertiary;
}

.menu-item-danger:hover {
    background: $error-primary;
}