$ui-primary: var(--ui-primary, hsla(261, 100%, 50%, 1)); /* #5100ff */
$ui-secondary: var(--ui-secondary, hsl(261 100% 99%)); /* lighter version of #5100ff */
$ui-tertiary: var(--ui-tertiary, hsla(261, 100%, 70%, 1)); /* even lighter version */

$ui-modal-overlay: var(--ui-modal-overlay, hsla(261, 100%, 50%, 0.9)); /* 90% transparent version of motion-primary */

$ui-white: hsla(0, 100%, 100%, 1); /* #FFFFFF */
$ui-white-dim: hsla(0, 100%, 100%, 0.75);
$ui-white-transparent: hsla(0, 100%, 100%, 0.25);
$ui-transparent: hsla(0, 100%, 100%, 0);

$ui-black-transparent-default: hsla(0, 0%, 0%, 0.15);
$ui-black-transparent: var(--ui-black-transparent, $ui-black-transparent-default);

$text-primary: var(--text-primary, hsla(225, 15%, 40%, 1)); /* #575E75 */
$text-primary-transparent: hsla(225, 15%, 40%, 0.75);

$motion-primary: hsla(261, 100%, 50%, 1); /* #5100ff */
$motion-tertiary: hsla(261, 100%, 39%, 1); /* darker version */
$motion-transparent: hsla(261, 100%, 50%, 0.35); /* 35% transparent version of motion-primary */
$motion-light-transparent: hsla(261, 100%, 50%, 0.15); /* 15% transparent version */

$motion-primary-dark: #4634eb; /* keep this as-is (used for dark mode contrast) */

$ui-primary-light: hsl(261 100% 94.9%);
$ui-secondary-light: hsl(261 100% 86%);
$ui-tertiary-light: hsl(261 100% 84.8%);
$text-primary-light: hsla(225, 15%, 40%, 1);

$red-primary: hsla(261, 100%, 50%, 1); /* #5100ff */
$red-tertiary: hsla(261, 100%, 39%, 1); /* #3d00c7 */

$sound-primary: hsla(300, 53%, 60%, 1); /* #CF63CF */
$sound-tertiary: hsla(300, 48%, 50%, 1); /* #BD42BD */

$control-primary: hsla(38, 100%, 55%, 1); /* #FFAB19 */

$data-primary: hsla(30, 100%, 55%, 1); /* #FF8C1A */

$pen-primary: hsla(163, 85%, 40%, 1); /* #0FBD8C */
$pen-transparent: hsla(163, 85%, 40%, 0.25); /* #0FBD8C */

$error-primary: hsla(30, 100%, 55%, 1); /* #FF8C1A */
$error-light: hsla(30, 100%, 70%, 1); /* #FFB366 */
$error-transparent: hsla(30, 100%, 55%, 0.25); /* #FF8C1A */

$extensions-primary: hsla(261, 100%, 50%, 1); /* #5100ff */
$extensions-tertiary: hsla(261, 100%, 39%, 1); /* darker version */
$extensions-transparent: hsla(261, 100%, 50%, 0.35); /* 35% transparent */
$extensions-light: hsla(261, 100%, 50%, 1); /* opaque version for white bg */

$drop-highlight: hsla(261, 100%, 77%, 1); /* lighter highlight of #5100ff */
